<?xml version="1.0" encoding="utf-8" ?>
<!--
SPDX-License-Identifier: BSD-3-Clause
SPDX-FileCopyrightText: Czech Technical University in Prague
-->

<launch>
    <arg name="device" default="/dev/septentrio_usb2" />
    <arg name="debug" default="false" />
    <arg name="config" default="$(dirname)/../config/septentrio.yaml" />
    <arg name="nodelet_manager" default="" />
    <arg name="ntrip_caster" default="ntrip.pecny.cz" />
    <arg name="ntrip_caster_port" default="2101" />
    <arg name="ntrip_mountpoint" default="GOP60" />
    <arg name="enable_raw_output" default="true" />

    <arg name="device_name" value="serial:$(arg device)" unless="$(eval ':' in device)" />
    <arg name="device_name" value="$(arg device)" if="$(eval ':' in device)" />

    <node name="raw" pkg="septentrio_gnss_driver" type="septentrio_gnss_driver_node" ns="gnss/septentrio" respawn="true">
        <rosparam command="load" file="$(arg config)" subst_value="true" />

        <param name="device" value="$(arg device_name)" />
        <param name="activate_debug_log" value="$(arg debug)" />
        <param name="custom_commands_file" value="$(dirname)/../config/enable_raw_output.sbf_commands" if="$(arg enable_raw_output)" />

        <remap from="~navsatfix" to="~fix" />
        <remap from="~gpsfix" to="~fix_detail" />
    </node>

    <arg name="nodelet_manager_arg" value="standalone" if="$(eval nodelet_manager == '')" />
    <arg name="nodelet_manager_arg" value="load" if="$(eval nodelet_manager != '')" />
    <arg name="nodelet_manager_name" value="" if="$(eval nodelet_manager == '')" />
    <arg name="nodelet_manager_name" value="$(arg nodelet_manager)" if="$(eval nodelet_manager != '')" />
    <node name="septentrio_process" pkg="nodelet" type="nodelet"
          args="$(arg nodelet_manager_arg) cras_septentrio_gnss_driver/process $(arg nodelet_manager_name)"
          ns="gnss/septentrio" respawn="true" />
</launch>
