<?xml version="1.0" encoding="utf-8" ?>
<!--
SPDX-License-Identifier: BSD-3-Clause
SPDX-FileCopyrightText: Czech Technical University in Prague
-->

<launch>
    <arg name="device" default="/dev/septentrio_usb2" />
    <arg name="config" default="$(dirname)/../config/septentrio.yaml" />
    <arg name="enable_raw_output" default="true" />

    <arg name="ntrip_caster" default="ntrip.pecny.cz" />
    <arg name="ntrip_caster_port" default="2101" />
    <arg name="ntrip_mountpoint" default="GOP60" />

    <arg name="namespace" default="gnss/septentrio" />
    <arg name="nodelet_manager" default="" />

    <arg name="min_position_error" default="0.0" />
    <arg name="min_altitude_error" default="0.0" />
    <arg name="min_heading_error_deg" default="0.0" />
    <arg name="publish_invalid_fix" default="true" />
    <arg name="publish_invalid_heading" default="false" />

    <arg name="debug" default="false" />
    <arg name="output" default="screen" />
    <arg name="respawn" default="true" />

    <arg name="device_name" value="serial:$(arg device)" unless="$(eval ':' in device)" />
    <arg name="device_name" value="$(arg device)" if="$(eval ':' in device)" />

    <node name="raw" pkg="septentrio_gnss_driver" type="septentrio_gnss_driver_node" ns="$(arg namespace)"
          respawn="$(arg respawn)" output="$(arg output)">
        <rosparam command="load" file="$(arg config)" subst_value="true" />

        <param name="device" value="$(arg device_name)" />
        <param name="activate_debug_log" value="$(arg debug)" />
        <param name="custom_commands_file" value="$(dirname)/../config/enable_raw_output.sbf_commands" if="$(arg enable_raw_output)" />

        <remap from="~navsatfix" to="~fix" />
        <remap from="~gpsfix" to="~fix_detail" />
    </node>

    <arg name="nodelet_manager_arg" value="standalone" if="$(eval nodelet_manager == '')" />
    <arg name="nodelet_manager_arg" value="load" if="$(eval nodelet_manager != '')" />
    <arg name="nodelet_manager_name" value="" if="$(eval nodelet_manager == '')" />
    <arg name="nodelet_manager_name" value="$(arg nodelet_manager)" if="$(eval nodelet_manager != '')" />
    <node name="septentrio_process" pkg="nodelet" type="nodelet"
          args="$(arg nodelet_manager_arg) cras_septentrio_gnss_driver/process $(arg nodelet_manager_name)"
          ns="$(arg namespace)" respawn="$(arg respawn)" output="$(arg output)">

        <param name="min_position_error" value="$(arg min_position_error)" />
        <param name="min_altitude_error" value="$(arg min_altitude_error)" />
        <param name="min_heading_error_deg" value="$(arg min_heading_error_deg)" />
        <param name="publish_invalid_fix" value="$(arg publish_invalid_fix)" />
        <param name="publish_invalid_heading" value="$(arg publish_invalid_heading)" />
    </node>
</launch>
